/* RESET BASICO */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, Helvetica, sans-serif;
}


/* FONDO GENERAL */

body{

background: linear-gradient(
135deg,
#021b3a,
#0d47a1,
#00e5ff
);

min-height:100vh;

color:white;

transition: opacity 0.4s ease;

}


/* ANIMACION AL CARGAR PAGINA */

.fade{

animation: aparecer 0.7s ease;

}

@keyframes aparecer{

from{
opacity:0;
transform: translateY(15px);
}

to{
opacity:1;
transform: translateY(0);
}

}


/* HEADER */

header{

display:flex;

align-items:center;

justify-content:space-between;

padding:15px 40px;

background: rgba(2,27,58,0.9);

box-shadow:0 4px 15px rgba(0,0,0,0.4);

}


/* LOGO */

.logo img{

width: 150px; 

}


/* TITULO */

.titulo{

flex:1;

text-align:center;

color:#00e5ff;

font-size:26px;

font-weight:bold;

text-shadow:
0 0 10px #00e5ff,
0 0 20px #00e5ff;

}


/* MENU */

.menu ul{

list-style:none;

display:flex;

}

.menu li{

margin-left:25px;

}

.menu a{

text-decoration:none;

color:white;

font-size:18px;

padding:10px 20px;

border-radius:25px;

transition:0.3s;

}

.menu a:hover{

background:#00e5ff;

color:#001c3d;

box-shadow:
0 0 10px #00e5ff,
0 0 20px #00e5ff;

transform:scale(1.05);

}


/* TEXTO */

.texto{

text-align:center;

margin-top:40px;

padding:0 20px;

}

.texto h2{

color:#00e5ff;

margin-bottom:15px;

}

.texto p{

max-width:800px;

margin:auto;

font-size:18px;

line-height:1.6;

}


/* CONTENEDOR VIDEO + IMAGEN */

.media-container{

display:flex;

justify-content:center;

align-items:center;

gap:60px;

margin-top:60px;

padding:20px;

}


/* VIDEO */

.video-container, .imagen-container {
	flex: 0 0 350px;
}

.video-container video{
	width:100%;
	max-width:330px;
	height:auto;
	display:block;
	border:4px solid #00e5ff;
	border-radius:12px;
	box-shadow:
		0 0 10px #00e5ff,
		0 0 25px #00e5ff;
width:100%;

max-width:330px;

border:4px solid #00e5ff;

border-radius:12px;

box-shadow:
0 0 10px #00e5ff,
0 0 25px #00e5ff;


}


/* IMAGEN */

.imagen-container img{

width:100%;

max-width:350px;

border:4px solid #00e5ff;

border-radius:12px;

box-shadow:
0 0 10px #00e5ff,
0 0 25px #00e5ff;

}


/* --------------------------- */
/* VERSION PARA CELULAR */
/* --------------------------- */

@media (max-width:768px){

header{

flex-direction:column;

text-align:center;

padding:20px;

}

.titulo{

margin:10px 0;

font-size:22px;

}

.menu ul{

flex-direction:column;

align-items:center;

}

.menu li{

margin:10px 0;

}

.media-container{

flex-direction:column;

gap:30px;

margin-top:40px;

}


	.video-container, .imagen-container {
		flex: initial;
		width: 100%;
		max-width: 90%;
	}

	.video-container video{
		width:100%;
		max-width:100%;
	}

.imagen-container img{

max-width:80%;

}

.texto p{

font-size:16px;

}

}